<h1 align="center">Bienvenue à Angular By Google</h1>

<h2>Plan de la journée 2 de formation</h2>

<h3>Partie I</h3>
<ul>
  <li>Les composants - Done</li>
  <li>Le passage de paramètres : String interpolation - Done</li>
  <li>Property binding - Done</li>
  <li>Event binding - Done</li>
  <li>Two way data binding  - Done</li>
  <li>Installation de Bootstrap - Done</li>

</ul>

<h3>Partie II</h3>
<ul>
  <li>Les directives</li>
  <li>Les pipes - Done</li>
  <li>Les customs pipes - Done</li>
  <li>Les services  - Done</li>
  <li>Le deploiement</li>

</ul>
<!--app-contact></app-contact>
<app-cours></app-cours-->
